.row1 {
  margin-left: 100px;
  width: 900px;
  padding-right: 100px;
}

.row2 {
    width: 900px;
    margin-left: 500px;

}

.row3 {
  background-color: gray;
  text-align: center;
}

img{
  width: 950px;
  margin-left: 100px;
}
